.html,body{
    background-color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    -webkit-boz-sizing: border-box;
    -moz-boz-sizing: border-box;
    box-sizing: border-box;
}




.logo{

    width: auto;
    height: 100%;
    align-self: baseline;
}

.secoes{
    align-self: center;
    
}

.secoes ul li {
   font-size: 26px;
    font-weight: 600;
    display: inline-block;
    margin-right: 1rem;
    font-family: 'Oswald', sans-serif;

}

a{
   text-decoration: none;
    color:rgb(255,196,0);
}

.social{
    align-self: center;
    margin-right: 7rem;
}

.social img{
    width: 2rem;
    margin-left: 0.5rem;
}
 
 .menu{
    width: 100%;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #000000;
     position: fixed;
     color: yellow;
     font-style: oblique;
     font-weight: 900;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
     z-index : 10000;
 } 

    .banner{
        height: 100vh;
        width: 100vw;
        background-image: url(./img/home/banner.jpg);
        background-position: center;
        background-size: cover;

    }
 
    h1{
        margin-top: 10rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
        /* padding-bottom:3rem ; */
        font-family: 'Oswald', sans-serif;

        }

    p {
        /* font-family: 'Montserrat', sans-serif; */
        font-family: 'Piazzolla', serif;
        font-size: 1rem;

    }

 .q-somos img{
    height: 500px;
    width: 100vw;
    background-size: cover;

 }

 .q-somos p{
    position: relative; 
    width: 50vw;
    line-height: 40px;
    height:2px; 
    text-align: justify;
    font-size: 1.5rem;
    padding: 20px;
    transform: translate(0,20vh);
    

 }
 .q-somos h1{
     text-align: left;
 }
 
 .espaço img{
     width: 47vw;
     height: auto;
     
 }

 .espaço p{
     text-align: center;
     font-weight: 600;
    font-size: 1.4rem;
     margin-top: 2rem;
     /* font-family:  'Roboto Condensed', sans-serif; */
     
     font-style: italic;
 }
 .img-espaco{
     margin:1rem;
     justify-content: space-between;
 }







 
 .cliente1  {
    width: fit-content;
    border:  2px solid rgb(255,196,0);
    margin: 0.5em;
    padding: 0.5em;
        font-style: italic;
        text-indent: 0;
        
        
  }
  .cliente p{
    width: 100%;
    text-align: justify;
    font-size: 1.3rem;
    
  }
  .cliente img{
      width: 100%;
  }
  
  .cliente2 {
    width: fit-content;
    border: 2px solid rgb(255,196,0);
    margin: 0.5em;
    padding: 0.5em;
    text-align: left;
    font-style: italic;
   
    text-indent: 0;
  }

  .cliente{
      justify-content: space-between;
      text-align: justify;
      display: flex;
      font-family:  'Roboto Condensed', sans-serif;
      font-family: 'Roboto Mono', 'monoespaço';
  }

  .visitante{
    text-align: right !important;

      
  }
  
   
  
.conteudo-contato{
    display:flex;
    justify-content: space-between;
}

.conteudo-contato .texto-contato  {
    padding: 2rem;
}

.conteudo-contato .texto-contato p {
    font-size: 1.4rem;
    padding: 0.4rem;
}

#msg-contato {
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: justify;
}

.contato img {
    width: 50vw;
    height: auto;
}

.footer{
    text-align: center;
    padding:0.6rem;
    border-top: 1px solid rgb(255,196,0);
    font-size:0.8rem;
    
  
}













@media(max-width: 1100px) {
    .secoes {
        display: none;
    }

    .banner img {
        width: auto;
        background-size: cover;
    }

    .q-somos p {
        width: 60vw;
    }

    .contato img {
        width: auto;
    }


}

@media(max-width: 767px) {



    .menu {
        padding-right: 1rem;
        height: 10%;
    }

    .social {
        margin-right: 5vw;
    }

    .q-somos p {
        transform: translate(0,2rem);
        z-index: 1000;
        width: 80vw;
    }

    .q-somos img {
        filter: blur(2px);
    }

  
    .contato  .conteudo-contato{
        display: block;

    }

    .contato .conteudo-contato img {
        width: 100vw;
        height: auto;
        background-size: cover;
     
       
    }



}

@media(max-width: 610px) {

    .espaço img {
        width: 48vw;
        margin: 0;
        padding: 0;
    }

    .img-espaco {
        margin: 0;
    }
}



@media(max-width: 500px) {

    .q-somos p {
        width: 100vw;
        filter:  blur(0px);
    }

    .espaço p {
        margin-top: 0;
  
    }

    h1 {
        font-size: 2rem;
        margin: 0;
        margin-top: 3rem;
        padding: 0.5rem;
        
    }

    .cliente {
        display: block;
    }
    .cliente p {
        font-size: 1rem;
    }

    .cliente2 {
        margin-top: 1rem !important;
    }

    .conteudo-contato .texto-contato  {
        padding: 1rem;
    }

    .conteudo-contato .texto-contato p {
        font-size: 1rem;
    }

    .footer p {
        font-size: 0.6rem;
    }

}












